Repository mendix/docs, pull requests merged in 2019-03, with the labels that each got.

#1524 Release notes Sprintr release 9.0
  content/releasenotes/developer-portal/index.md
Labels: Future release

#1538 Update release notes for CP 182.1
  content/releasenotes/developer-portal/index.md
Labels: Future release

#1540 Release notes for Sprintr
  content/releasenotes/developer-portal/index.md
Labels: Future release

#1542 Add 6.10.18 RN for PR
  content/releasenotes/desktop-modeler/6.10.md
Labels: Future release

#1548 Hybrid App and App Signing updates
  content/howto/mobile/attachments/publishing-a-hybrid-app/appletrust.png
  content/howto/mobile/attachments/publishing-a-hybrid-app/cmdjdkexe.png
  content/howto/mobile/attachments/publishing-a-hybrid-app/ktoolsetup.png
  content/howto/mobile/attachments/publishing-a-hybrid-app/phonegap-authorization-dialog.png
  content/howto/mobile/attachments/publishing-a-hybrid-app/qanda.png
  content/howto/mobile/publishing-a-mendix-hybrid-mobile-app-in-mobile-app-stores.md
  content/refguide/attachments/managing-app-signing-keys/ktoolsetup.png
  content/refguide/attachments/managing-app-signing-keys/qanda.png
  content/refguide/managing-app-signing-keys.md
Labels: Changes requested

#1551 Update Version Control Documents and Structure
  content/howto/collaboration-requirements-management/contribute-to-a-github-repository.md
  content/howto/collaboration-requirements-management/index.md
  content/howto/collaboration-requirements-management/on-premises-svn-howto.md
  content/howto/collaboration-requirements-management/sharing-the-development-database.md
  content/howto/collaboration-requirements-management/starting-your-own-repository.md
  content/howto/collaboration-requirements-management/troubleshoot-network-issues-for-team-server.md
  content/howto/collaboration-requirements-management/troubleshoot-version-control-issues.md
  content/howto/collaboration-requirements-management/using-team-server-_-version-control.md
  content/howto/front-end/style-with-gulp-and-sass.md
  content/howto/monitoring-troubleshooting/solving-load-and-import-errors.md
  content/refguide/attachments/modeler-core/2018-03-02_11-13-59.png
  content/refguide/attachments/modeler-core/commit-button.png
  content/refguide/attachments/modeler-core/contains-conflicts.png
  content/refguide/attachments/modeler-core/create-from-tag.png
  content/refguide/attachments/modeler-core/document-changes.png
  content/refguide/attachments/modeler-core/history-button.png
  content/refguide/attachments/modeler-core/open-new-team-server-app.png
  content/refguide/attachments/modeler-core/project-conflicts.png
  content/refguide/attachments/modeler-core/resolve-document-conflict.png
  content/refguide/attachments/modeler-core/revert-committed-changes.png
  content/refguide/attachments/modeler-core/revertx2.png
  content/refguide/attachments/modeler-core/update-button.png
  content/refguide/attachments/version-control/image1.png
  content/refguide/attachments/version-control/image2.png
  content/refguide/attachments/version-control/image3.png
  content/refguide/branch-line-manager-dialog.md
  content/refguide/create-branch-line-dialog.md
  content/refguide/download-from-version-control-dialog.md
  content/refguide/merge-dialog.md
  content/refguide/open-app-dialog.md
  content/refguide/team-server-faq.md
  content/refguide/using-version-control-in-the-dm.md
  content/refguide/version-control-concepts.md
  content/refguide/version-control-scenarios.md
  content/refguide/version-control.md
Labels: Internal WIP

#1553 Adding an example because that clarifies a lot
  content/refguide/oql-left-outer-join.md
Labels: Needs review by R&D

#1555 Pointing to the correct function dateTime-creation
  content/refguide/date-creation.md
Labels: Needs review by R&D
