Repository mendix/docs, pull requests merged in 2020-12, with the labels that each got.

#2908 Sprintr release 10.12.0
  content/developerportal/index.md
  content/releasenotes/developer-portal/index.md
  themes/mendix/layouts/partials/frontpage/featured.html
Labels: Future release

#2917 7.23.18 RN
  content/releasenotes/studio-pro/7.23.md
Labels: Future release

#2909 8.6.8 RN
  content/releasenotes/studio-pro/8.6.md
Labels: Future release

#2922 Documentation on Oracle user/schema creation
  content/refguide/oracle.md
Labels: Cherry Pick for Mx9

#2927 Release notes for Mendix for Private Cloud - 10 December
  content/developerportal/deploy/attachments/private-cloud-cluster/custom-tls-config.png
  content/developerportal/deploy/attachments/private-cloud-cluster/database-plan-config.png
  content/developerportal/deploy/attachments/private-cloud-cluster/post-install-landing-page.png
  content/developerportal/deploy/attachments/private-cloud-config-script/custom-tls.png
  content/developerportal/deploy/private-cloud-cluster.md
  content/developerportal/deploy/private-cloud-config-script.md
  content/developerportal/deploy/private-cloud-operator.md
  content/developerportal/deploy/private-cloud-supported-environments.md
  content/developerportal/deploy/private-cloud-upgrade-guide.md
  content/releasenotes/developer-portal/mendix-for-private-cloud.md
Labels: Future release, Update RN/featured date

#2897 Add AWS Deployment to development branch
  .travis.yml
  _scripts/aws_deploy.sh
  _scripts/deploy.sh
  _scripts/redirectaws.sh
  content/addons/apd-addon/ig-two.md
  content/addons/apd-addon/index.md
  content/addons/apd-addon/rg-two-apm.md
  content/appstore/general/app-store-content-support.md
  content/appstore/general/app-store-content.md
  content/appstore/general/app-store-overview.md
  content/appstore/general/index.md
  content/appstore/general/share-app-store-content.md
  content/data-hub/index.md
  content/data-hub/share-data/index.md
  content/developerportal/community-tools/mendix-job-board.md
  content/developerportal/community-tools/mendix-mvp-program.md
  content/developerportal/company-app-roles/technical-contact.md
  layouts/alias.html
Labels: Cherry Pick for Mx9, Internal WIP

#2942 Private Cloud Release Notes 14 December
  content/releasenotes/developer-portal/deployment.md
  content/releasenotes/developer-portal/mendix-for-private-cloud.md
  themes/mendix/layouts/partials/frontpage/featured.html
Labels: Needs technical verification, Update RN/featured date

#2933 Removed sprintr feedback
  _assets/js/sprintrfeedback.js
  _assets/styles/_sass/_feedback.scss
  themes/mendix/layouts/partials/feedback.html
  themes/mendix/layouts/partials/footer.html
  themes/mendix/layouts/partials/search/footer.html
  themes/mendix/layouts/partials/sprintrfeedback.html
Labels: Internal WIP

#2944 Mendix for Private Cloud Update Documentation
  content/developerportal/deploy/attachments/private-cloud-deploy/create-environment.png
  content/developerportal/deploy/attachments/private-cloud-deploy/image22.png
  content/developerportal/deploy/attachments/private-cloud-deploy/image6.png
  content/developerportal/deploy/attachments/private-cloud-deploy/image8.png
  content/developerportal/deploy/attachments/private-cloud-deploy/network-tab.png
  content/developerportal/deploy/private-cloud-cluster.md
  content/developerportal/deploy/private-cloud-deploy.md
  content/developerportal/deploy/private-cloud-operator.md
Labels: Needs technical verification

#2811 ASG UX update
  content/apidocs-mxsdk/apidocs/projects-api.md
  content/appstore/general/app-store-overview.md
  content/appstore/general/attachments/app-store-overview/content_detail_1.png
  content/appstore/general/attachments/app-store-overview/content_detail_2.png
  content/appstore/general/attachments/app-store-overview/content_detail_3.png
  content/appstore/general/attachments/app-store-overview/content_detail_5.png
  content/appstore/general/attachments/app-store-overview/content_detail_6.png
  content/appstore/general/attachments/app-store-overview/content_detail_7.png
  content/appstore/general/attachments/app-store-overview/content_detail_8.png
  content/appstore/general/attachments/app-store-overview/content_detail_9.png
  content/appstore/general/attachments/app-store-overview/draft-withdraw.png
  content/appstore/general/attachments/app-store-overview/home-page.jpg
  content/appstore/general/attachments/app-store-overview/home_page.png
  content/appstore/general/attachments/share-app-store-content/add-content-button.jpg
  content/appstore/general/attachments/share-app-store-content/add_content_1.png
  content/appstore/general/attachments/share-app-store-content/add_content_2.png
  content/appstore/general/attachments/share-app-store-content/add_content_3.png
  content/appstore/general/attachments/share-app-store-content/add_content_5.png
  content/appstore/general/attachments/share-app-store-content/add_content_6.png
  content/appstore/general/attachments/share-app-store-content/add_content_7.png
  content/appstore/general/attachments/share-app-store-content/add_content_button.png
  content/appstore/general/attachments/share-app-store-content/enable.jpg
  content/appstore/general/attachments/share-app-store-content/general.jpg
  content/appstore/general/attachments/share-app-store-content/package.jpg
  content/appstore/general/attachments/share-app-store-content/public-private.jpg
  content/appstore/general/attachments/share-app-store-content/publish.jpg
  content/appstore/general/attachments/share-app-store-content/sub-categories.jpg
  content/appstore/general/attachments/share-app-store-content/update_content_1.png
  content/appstore/general/attachments/share-app-store-content/update_content_2.png
  content/appstore/general/index.md
  content/appstore/general/share-app-store-content.md
  content/developerportal/attachments/developerportal-app-store.jpg
  content/developerportal/attachments/developerportal-app-store.png
  content/developerportal/index.md
  content/releasenotes/app-store/index.md
  data/spaces.yml
  themes/mendix/layouts/partials/frontpage/featured.html
Labels: Future release

#2934 New merge algorithm
  content/refguide/attachments/new-merge-algorithm/enable-new-merge-algorithm.png
  content/refguide/attachments/new-merge-algorithm/new-merge-algorithm-base-page.png
  content/refguide/attachments/new-merge-algorithm/new-merge-algorithm-branch-page.png
  content/refguide/attachments/new-merge-algorithm/new-merge-algorithm-cannot-resolve.PNG
  content/refguide/attachments/new-merge-algorithm/new-merge-algorithm-conflicts.png
  content/refguide/attachments/new-merge-algorithm/new-merge-algorithm-main-page.png
  content/refguide/attachments/new-merge-algorithm/new-merge-algorithm-orange-tab.png
  content/refguide/attachments/new-merge-algorithm/new-merge-algorithm-resolve-mode.png
  content/refguide/attachments/new-merge-algorithm/old-merge-algorithm-conflicts.png
  content/refguide/new-merge-algorithm.md
Labels: 9.0.2, mx9-public-beta

#2950 Explain when client-side constants in offline-first apps get updated
  content/refguide/constants.md
Labels: 9.0.2, Internal WIP, mx9-public-beta

#2951 Update all client library versions for Mx9
  content/apidocs-mxsdk/apidocs/client-apis-for-pluggable-widgets.md
Labels: 9.0.2, mx9-public-beta

#2937 API document and Warden
  content/apidocs-mxsdk/apidocs/attachments/dta-hub-apis/create-pat-token.png
  content/apidocs-mxsdk/apidocs/attachments/dta-hub-apis/generated-pat-token.png
  content/apidocs-mxsdk/apidocs/attachments/dta-hub-apis/swagger-home-page.png
  content/apidocs-mxsdk/apidocs/attachments/dta-hub-apis/token-list.png
  content/apidocs-mxsdk/apidocs/attachments/dta-hub-apis/warden-home-screen.png
  content/apidocs-mxsdk/apidocs/data-hub-apis.md
  content/releasenotes/data-hub/index.md
Labels: Dependencies

#2946 CloudPortal Release CP215 release notes (17 December)
  content/releasenotes/developer-portal/mendix-cloud.md
Labels: Future release, Update RN/featured date

#2929 8.17 RN
  content/releasenotes/studio-pro/8.17.md
  themes/mendix/layouts/partials/frontpage/featured.html
Labels: 8.17

#2947 7.23.19
  content/releasenotes/studio-pro/7.23.md
Labels: Future release

#2952 Update preferences-dialog.md
  content/refguide/preferences-dialog.md
Labels: 9.0.2, mx9-public-beta

#2948 8.6.9 RN
  content/releasenotes/studio-pro/8.6.md
Labels: Future release

#2949 8.12.5 RN
  content/releasenotes/studio-pro/8.12.md
Labels: Future release

#2954 9.0.2 RN
  content/releasenotes/studio-pro/9.0.md
  content/releasenotes/studio-pro/9.md
  content/releasenotes/studio-pro/index.md
  themes/mendix/layouts/partials/frontpage/featured.html
Labels: 9.0.2

#2959 Git on-premises how to docs
  content/howto/collaboration-requirements-management/attachments/on-premises-git-howto/app-settings.png
  content/howto/collaboration-requirements-management/attachments/on-premises-git-howto/download-from-version-control-server-extended.png
  content/howto/collaboration-requirements-management/attachments/on-premises-git-howto/download-from-version-control-server.png
  content/howto/collaboration-requirements-management/attachments/on-premises-git-howto/export-project-package-dialog.png
  content/howto/collaboration-requirements-management/attachments/on-premises-git-howto/import-project-package-git-dialog.png
  content/howto/collaboration-requirements-management/attachments/on-premises-git-howto/import-project-package-menu.png
  content/howto/collaboration-requirements-management/attachments/on-premises-git-howto/open-app-dialog.png
  content/howto/collaboration-requirements-management/attachments/on-premises-git-howto/open-app-select-file.png
  content/howto/collaboration-requirements-management/attachments/on-premises-git-howto/open-log-file-directory-menu.png
  content/howto/collaboration-requirements-management/attachments/on-premises-git-howto/preferences-git.png
  content/howto/collaboration-requirements-management/attachments/on-premises-git-howto/progress-dialog.png
  content/howto/collaboration-requirements-management/attachments/on-premises-git-howto/project-uploaded-confirmation.png
  content/howto/collaboration-requirements-management/attachments/on-premises-git-howto/recent-apps.png
  content/howto/collaboration-requirements-management/attachments/on-premises-git-howto/shortcut-properties.png
  content/howto/collaboration-requirements-management/attachments/on-premises-git-howto/sign-in-dialog.png
  content/howto/collaboration-requirements-management/attachments/on-premises-git-howto/upload-project-to-team-server.png
  content/howto/collaboration-requirements-management/attachments/on-premises-git-howto/upload-to-vc-menu.png
  content/howto/collaboration-requirements-management/attachments/on-premises-git-howto/upload-to-vc-server.png
  content/howto/collaboration-requirements-management/on-premises-git-howto.md
  content/howto/collaboration-requirements-management/on-premises-howto.md
  content/howto/collaboration-requirements-management/on-premises-svn-howto.md
  content/howto/collaboration-requirements-management/troubleshoot-git-issues.md
Labels: 9.0.2, mx9-public-beta

#2857 Document SAP Fiori 3 Styling
  content/partners/sap/attachments/sap-fiori-3-0/button-styles.png
  content/partners/sap/attachments/sap-fiori-3-0/count-badge-appearance.png
  content/partners/sap/attachments/sap-fiori-3-0/count-badge-edit.png
  content/partners/sap/attachments/sap-fiori-3-0/count-badge-example.png
  content/partners/sap/attachments/sap-fiori-3-0/count-badge-microflow.png
  content/partners/sap/sap-fiori-3-0.md
  content/partners/sap/sap-fiori-building-blocks.md
  content/releasenotes/developer-portal/deployment.md
  content/releasenotes/developer-portal/sap-cloud-platform.md
  themes/mendix/layouts/partials/frontpage/featured.html
Labels: Future release, Update RN/featured date

#2962 Sprintr release 10.13.0
  content/developerportal/company-app-roles/attachments/company-profile-tab.png
  content/developerportal/company-app-roles/company.md
  content/developerportal/company-app-roles/index.md
  content/developerportal/develop/index.md
  content/developerportal/develop/modeling-environments.md
  content/developerportal/develop/planning-development.md
  content/releasenotes/developer-portal/index.md
  themes/mendix/layouts/partials/frontpage/featured.html
Labels: Future release

#2965 Model
  content/developerportal/collaborate/attachments/app-buzz.jpg
  content/developerportal/collaborate/attachments/documents.png
  content/developerportal/collaborate/attachments/feedback/feedback.png
  content/developerportal/collaborate/attachments/feedback/feedbacklist.jpg
  content/developerportal/collaborate/attachments/stories/stories.jpg
  content/developerportal/collaborate/attachments/team.png
  content/developerportal/company-app-roles/attachments/company-profile-tab.png
  content/developerportal/company-app-roles/company.md
  content/developerportal/company-app-roles/index.md
  content/developerportal/deploy/attachments/accessrestrict/v4-access-restriction-profile.png
  content/developerportal/deploy/attachments/custom-domains/custom-domains-tab.png
  content/developerportal/deploy/attachments/environments/environment-tab.png
  content/developerportal/deploy/attachments/ibm-cloud/cloud-setting.png
  content/developerportal/deploy/attachments/mendix-sso/manage-app-users.png
  content/developerportal/deploy/attachments/node-permissions/node-permissions.png
  content/developerportal/deploy/attachments/private-cloud-cluster/image2.png
  content/developerportal/deploy/attachments/private-cloud-deploy/image2.png
  content/developerportal/deploy/attachments/sap-cloud-platform/cloud-settings.png
  content/developerportal/deploy/attachments/sap-cloud-platform/environments-page.png
  content/developerportal/deploy/ibm-cloud.md
  content/developerportal/develop/attachments/model.png
  content/developerportal/develop/attachments/planning.png
  content/developerportal/develop/attachments/team-server.png
  content/developerportal/develop/index.md
  content/developerportal/develop/modeling-environments.md
  content/developerportal/develop/planning-development.md
  content/developerportal/operate/attachments/datadog-metrics/metrics-agent-config.png
  content/developerportal/operate/attachments/datadog-metrics/set-tags.png
  content/developerportal/operate/attachments/logs/log-sap.png
  content/developerportal/settings/attachments/general-settings.png
  content/developerportal/settings/attachments/keys.png
  content/developerportal/settings/attachments/webhooks-list.png
  content/releasenotes/developer-portal/index.md
  themes/mendix/layouts/partials/frontpage/featured.html
Labels: Future release

#2972 Update Mendix 9 system requirements
  content/refguide/system-requirements.md
Labels: Needs technical verification
