Repository mendix/docs, pull requests merged in 2020-06, with the labels that each got.

#2473 Private Cloud Documentation Improvements
  content/developerportal/deploy/attachments/private-cloud-operator/constant-name.png
  content/developerportal/deploy/attachments/private-cloud/mx4pc-architecture.png
  content/developerportal/deploy/attachments/private-cloud/mx4pc-standalone-architecture.png
  content/developerportal/deploy/private-cloud-cluster.md
  content/developerportal/deploy/private-cloud-operator.md
  content/developerportal/deploy/private-cloud.md
Labels: Needs technical verification

#2482 4 June: Certificate Chains in ARP
  content/developerportal/deploy/access-restrictions.md
  content/developerportal/deploy/attachments/accessrestrict/access-restriction-profiles.png
  content/developerportal/deploy/attachments/accessrestrict/ca-profile.png
  content/developerportal/deploy/attachments/accessrestrict/ip-range.png
  content/developerportal/deploy/attachments/accessrestrict/v3-access-restriction-profile.png
  content/developerportal/deploy/attachments/accessrestrict/v4-access-restriction-profile.png
  content/developerportal/deploy/environments.md
  content/releasenotes/developer-portal/deployment.md
  themes/mendix/layouts/partials/frontpage/featured.html
Labels: Future release

#2502 Trends V4 Change references to CPU credits to IOPS credits
  content/developerportal/operate/trends-v4.md
  content/releasenotes/developer-portal/deployment.md
Labels: Needs technical verification

#2507 Added extra info to associations in microflows
  content/releasenotes/studio-pro/8.10.md
Labels: Needs technical verification

#2505 8.10.1 RN
  content/releasenotes/studio-pro/8.10.md
  themes/mendix/layouts/partials/frontpage/featured.html
Labels: Future release

#2514 Just a note for debugger-settings-saps4hana.png
  content/howto/monitoring-troubleshooting/debug-microflows-remotely.md
Labels: Needs technical verification

#2519 8.10.2 RN
  content/releasenotes/studio-pro/8.10.md
  themes/mendix/layouts/partials/frontpage/featured.html
Labels: Future release

#2517 Sprintr release 15-06-2020
  content/releasenotes/developer-portal/index.md
  themes/mendix/layouts/partials/frontpage/featured.html
Labels: Future release, Needs technical verification

#2510 Update Stories
  content/developerportal/collaborate/attachments/stories/add-task-description.png
  content/developerportal/collaborate/attachments/stories/complete-verify.png
  content/developerportal/collaborate/attachments/stories/completed-sprints.jpg
  content/developerportal/collaborate/attachments/stories/delete-linked-story.png
  content/developerportal/collaborate/attachments/stories/disable-new-ui.jpg
  content/developerportal/collaborate/attachments/stories/edit-task.jpg
  content/developerportal/collaborate/attachments/stories/enable-new-ui.png
  content/developerportal/collaborate/attachments/stories/history.jpg
  content/developerportal/collaborate/attachments/stories/history.png
  content/developerportal/collaborate/attachments/stories/label.png
  content/developerportal/collaborate/attachments/stories/move-story-drag-new.jpg
  content/developerportal/collaborate/attachments/stories/move-story-move-button.jpg
  content/developerportal/collaborate/attachments/stories/move-to.png
  content/developerportal/collaborate/attachments/stories/new-sprint.jpg
  content/developerportal/collaborate/attachments/stories/new-story-from-sprint.jpg
  content/developerportal/collaborate/attachments/stories/new-story.jpg
  content/developerportal/collaborate/attachments/stories/sprint-example.png
  content/developerportal/collaborate/attachments/stories/sprint-options.jpg
  content/developerportal/collaborate/attachments/stories/stories.jpg
  content/developerportal/collaborate/attachments/stories/stories.png
  content/developerportal/collaborate/attachments/stories/story-details.png
  content/developerportal/collaborate/attachments/stories/story-example.png
  content/developerportal/collaborate/attachments/stories/story-task.jpg
  content/developerportal/collaborate/stories.md
  content/developerportal/company-app-roles/index.md
  content/developerportal/settings/index.md
Labels: Future release, Internal WIP

#2523 New database alerts
  content/developerportal/operate/monitoring-application-health.md
  content/releasenotes/developer-portal/deployment.md
Labels: Future release, Update release note

#2428 Multiple namespaces in a Private Cloud cluster
  content/developerportal/deploy/attachments/private-cloud-cluster/add-namespace.png
  content/developerportal/deploy/attachments/private-cloud-cluster/create-cluster.png
  content/developerportal/deploy/attachments/private-cloud-cluster/empty-cluster.png
  content/developerportal/deploy/attachments/private-cloud-cluster/image22.png
  content/developerportal/deploy/attachments/private-cloud-cluster/image25.png
  content/developerportal/deploy/attachments/private-cloud-cluster/image27.png
  content/developerportal/deploy/attachments/private-cloud-cluster/image7.png
  content/developerportal/deploy/attachments/private-cloud-cluster/image8.png
  content/developerportal/deploy/attachments/private-cloud-cluster/namespace-scripts.png
  content/developerportal/deploy/private-cloud-cluster.md
  content/developerportal/deploy/private-cloud-deploy.md
  content/developerportal/deploy/private-cloud-operator.md
  content/developerportal/deploy/private-cloud.md
  content/releasenotes/developer-portal/deployment.md
  themes/mendix/layouts/partials/frontpage/featured.html
Labels: Verify after merge

#2533 Release notes for Private Cloud Operator 1.1.1
  content/developerportal/deploy/private-cloud-cluster.md
  content/developerportal/deploy/private-cloud-deploy.md
  content/developerportal/deploy/private-cloud-supported-environments.md
  content/developerportal/deploy/private-cloud-upgrade-guide.md
  content/releasenotes/developer-portal/deployment.md
Labels: Future release

#2542 Sprintr release 10.4.0
  content/releasenotes/developer-portal/index.md
  themes/mendix/layouts/partials/frontpage/featured.html
Labels: Future release

#2545 Clarify file location for docker buildpack
  content/developerportal/deploy/docker-deploy.md
Labels: Needs technical verification
