Repository mendix/docs, pull requests merged in 2020-03, with the labels that each got.

#2304 2 March 2020 Release Notes for deployment
  content/releasenotes/developer-portal/deployment.md
  content/releasenotes/sdk/model-sdk-4.md
  themes/mendix/layouts/partials/frontpage/featured.html
Labels: Future release

#2316 8.6.2 RN
  content/releasenotes/studio-pro/8.6.md
  content/releasenotes/studio-pro/8.7.md
Labels: Future release

#2288 Rewrite query-over
  content/refguide/associations.md
  content/refguide/attachments/associations/18581634.png
  content/refguide/attachments/associations/18581635.png
  content/refguide/attachments/associations/18581636.png
  content/refguide/attachments/associations/18581637.png
  content/refguide/attachments/associations/18581638.png
  content/refguide/attachments/associations/18581639.png
  content/refguide/attachments/associations/18581640.png
  content/refguide/attachments/associations/association-accountant-group.png
  content/refguide/attachments/associations/association-customer-group.png
  content/refguide/attachments/associations/association-customer-profile.png
  content/refguide/attachments/associations/association-order-customer.png
  content/refguide/attachments/associations/query-over-association.png
  content/refguide/attachments/associations/query-over-example-database.pdf
  content/refguide/attachments/associations/query-over-example-database.png
  content/refguide/attachments/associations/query-over-example-database.xlsx
  content/refguide/attachments/associations/query-over-example-structure.png
  content/refguide/attachments/associations/query-over-extended-domain-model.png
  content/refguide/attachments/associations/query-over-parent-child.png
  content/refguide/attachments/associations/query-over-retrieve-complex.png
  content/refguide/attachments/associations/query-over-retrieve-normal-tables.png
  content/refguide/attachments/associations/query-over-retrieve-normal.png
  content/refguide/attachments/associations/query-over-retrieve-reversed-tables.png
  content/refguide/attachments/associations/query-over-retrieve-reversed.png
  content/refguide/attachments/associations/self-reference-domain-model.png
  content/refguide/query-over.md
Labels: Internal WIP

#2329 How-to on validation for multiple attributes
  content/howto/data-models/setting-up-data-validation.md
Labels: Needs dev team technical verification

#2349 Update native-mobile-resources.md
  content/appstore/modules/native-mobile-resources.md
Labels: Needs language review

#2353 Update datadog-metrics.md
  content/developerportal/operate/datadog-metrics.md
Labels: Waiting for CLA

#2357 Add list of databases to drop support in 7.23.15
  content/releasenotes/studio-pro/7.23.md
Labels: Future release

#2352 Added SAP Activity Log information and Release Notes
  content/developerportal/deploy/attachments/sap-cloud-platform/08-sap-env-2.png
  content/developerportal/deploy/attachments/sap-cloud-platform/11-sap-env-details.png
  content/developerportal/deploy/attachments/sap-cloud-platform/environments-page.png
  content/developerportal/deploy/sap-cloud-platform.md
  content/releasenotes/developer-portal/deployment.md
  themes/mendix/layouts/partials/frontpage/featured.html
Labels: Verify after merge

#2358 ModelShare deletion
  content/apidocs-mxsdk/apidocs/projects-api.md
  content/developerportal/community-tools/documentation-writing-guidelines.md
  content/developerportal/mendix-profile/index.md
  content/howto/extensibility/get-started-with-the-timeseries-connector.md
  content/howto/integration/expose-a-web-service.md
  content/howto/logic-business-rules/string-concatenation.md
  content/howto/logic-business-rules/translatable-validation-messages.md
  content/refguide/cast-object.md
  content/refguide/general.md
  content/refguide/model-share.md
  content/releasenotes/studio-pro/8.0.md
  content/releasenotes/studio-pro/8.6.md
Labels: Future release

#2355 7.23.13 Release Notes
  content/releasenotes/studio-pro/7.23.md
Labels: Future release
